@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  background: black;
}
.nav-bar-options{
  display: flex;
  gap: 50px;
  align-items: center;
  color: white;
}
.btn{
  color: white;
  background: black;
  padding: 8px;
  border: 2px solid white;
  box-shadow: 10px 15px 10px rgba(255,255,255,0.03);
  width: 100px;
}
.nav-bar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 100px;
}
.banner-text{
  color: white;
  text-align: center;
}
.banner-btn{
  text-align: center;
}
.btn-1{
  color: white;
  background: #7781FE;
  padding: 8px;
  border: 2px solid #7781FE;
  width: 100px;
}
.banner{
  margin-top: 60px;
}
.image{
  margin: 60px auto;
}
.image img{
  width: 1250px;
}
.FEATURES-START{
  color: white;
  text-align: center;
}
.FEATURES-END-TEXT-1{
  color: white;
}
.FEATURES-END-TEXT-2{
  color: white;
}
.FEATURES-END-TEXT-3{
  color: white;
}
.FEATURES-END{
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.FEATURES-END-IMAGE img{
width: 600px;
height: 600px;
}